# Misc
blinker
hexbytes~=0.2.1
serde

# Cryptography
python-pkcs11
pycryptodome
ecdsa

# Database
mongoengine~=0.20.0
pymongo[srv]

# Web 2.0
requests~=2.24.0
aiohttp~=3.7.2

# Web 3.0
ethereum
rlp
# rusty-rlp
web3~=5.12.1
